/* css.css */

body {
    font-family: Arial, sans-serif;
    background-color: #635c5c;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tip {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 600px) {
    .container {
        padding: 0 20px;
    }

    .tip {
        padding: 20px;
    }
}
