*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: changeBackground 20s infinite alternate; /* Background color animation */
}

@keyframes changeBackground {
    0% { background-color: #e2b1b1; }
    25% { background-color: #ccffcc; }
    50% { background-color: #ccccff; }
    75% { background-color: #ffffcc; }
    100% { background-color: #ffccff; }
}

.container {
    text-align: center;
}

.clock {
    display: flex;

    align-items: center;
    border: 8px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.clock h1 {
    font-size: 5em;
    margin: 0;
    padding: 0 10px;
    color: #333;
}

#bar {
    font-size: 5em;
    color: #666;
    border-radius: 100%;
    transform: translateY(-0.1em);
    animation: blink 1s infinite alternate; /* Blink animation */
}

@keyframes blink {
    0% {
        opacity: 1; /* Fully visible */
    }
    50% {
        opacity: 0.5; /* Fully invisible */
    }
    100% {
        opacity: 1; /* Fully visible */
    }
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .clock h1 {
        font-size: 3em; /* Adjust font size for smaller screens */
    }
    
    #bar {
        font-size: 2em; /* Adjust bar size for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .clock h1 {
        font-size: 2em; /* Adjust font size for even smaller screens */
    }
    
    #bar {
        font-size: 1.5em; /* Adjust bar size for even smaller screens */
    }
}