.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 50%;
   -color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: 300px;
    justify-content: center
    ;
  }
  
  .quotes {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #quote {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #author {
    font-style: italic;
    font-size: 1.2rem;
  }
  
  .button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-left: 900px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  body{
    background: rgb(255, 255, 255);
  }